@using DemoWebApp.FrontEnd.Utilities;
@model MasterViewModel;
@{
    ViewData["Title"] = "Index";
}


<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Index</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Master</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Index</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Search Master</h5>
        <form method="post" class="row g-3">
            <div class="col-md-6">
                <label for="ddlMasterType"
                       class="form-label">
                    Master Type
                </label>
                @Html.DropDownList("ddlMasterType", new SelectList(Model.listMaster, Constants.ddlValue.MasterType.Code, Constants.ddlValue.MasterType.Text),
                @Constants.SelectOption.SelectAll,new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                <label for="txtCode"
                       class="form-label">
                    Master Code
                </label>
                <input type="text" class="form-control" id="txtCode">
            </div>
            <div class="col-md-6">
                <label for="txtNameTH"
                       class="form-label">
                    Name (Thai)
                </label>
                <input type="text" class="form-control" id="txtNameTH">
            </div>
            <div class="col-md-6">
                <label for="txtNameEN"
                       class="form-label">
                    Name (English)
                </label>
                <input type="text" class="form-control" id="txtNameEN">
            </div>
            <div class="col-md-6">
                <label for="ddlStatus" class="form-label">Status</label>
                <select class="form-control" id="ddlStatus">
                    <option value="">Please Select </option>
                    <option value="A">Active</option>
                    <option value="I">InActive</option>
                </select>
            </div>
            <div class="text-center">
                <button type="button"
                        id="btnSearch"
                        onclick=""
                        class="btn btn-primary">
                    Search
                </button>
                <button type="reset"
                        class="btn btn-secondary"
                        onclick="">
                    Reset
                </button>
            </div>
        </form>
    </div>
</div>
<div class="row" id="dvTable">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="card-title ">Search Result</h5>
                    </div>
                </div>
                <table id="dtResult" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">MasterType</th>
                            <th scope="col">Name(Thai)</th>
                            <th scope="col">Name(English)</th>
                            <th scope="col">Update By</th>
                            <th scope="col">Update Date</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">
                                <a class="btn btn-success me-2"
                                   onclick=PopupDetail('',"New")>
                                    <i class="bi bi-plus-lg me-1"></i>
                                    New
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table_Data">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function PopupDetail(code,action) {
            var data = {"code":code, "action":action};
            modalPOST("Master", '@Url.Content("~/Master/_Detail")', data, 50);
        };
    </script>
}
