
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Navbar - Mazer Admin Dashboard</title>
</head>

<body>
    <button type="button" onclick="PopupDetail('test')">test</button>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scriptcustom.js"></script>
    <script type="text/javascript">
        var root = '@Url.Content("~")';
        function PopupDetail(action) {
            var data = {};
            modalPOST(action + " " + "Home", "Home", "_testModal", data, 50);
        };
    </script>
</body>
</html>

